@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0B0C0C;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.labels_label--format {
    position: absolute;
    text-align: center;
    left: 11%;
}

img {
    margin-top: 5%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

.tela-cadastro {
    width: 420px;
    height: 600px;
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(95, 95, 95, 0.1);
    border-radius: 20px;
}

.tela-login {
    width: 420px;
    height: 420px;
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(95, 95, 95, 0.1);
    border-radius: 20px;
}

.titulo_login,
.titulo_cadastro {
    background-color: grey;
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
}

.formulario {
    position: relative;
    left: 0%;
    background-color: grey;
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    height: 250px;
}

.inputs_cadastro {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.input-login {
    position: absolute;
    padding: 10px 15px;
    width: 320px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
}

.input-cadastro {
    position: relative;
    width: 250px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 5px;

}

#senha {
    margin-top: 10px;
}

.button_default {
    position: absolute;
    left: 260px;
    width: 75px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px;
    transform: translate(50%);
    box-shadow: 10px 5px 5px black;
}

.attach_button {
    position: relative;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    transform: translate(50%, -50%);
    top: 50%;
    box-shadow: 10px 5px 5px black;
}

button:hover {
    background-color: rgb(79, 27, 126);
    cursor: pointer;
}

input::placeholder {
    color: rgb(95, 95, 95);
}

footer {
    display: flex;
    position: absolute;
    width: 320px;
    height: 80px;
    bottom: 0;
}

footer p {
    margin-top: 5px;
    position: absolute;
    left: 20%;
    color: aliceblue;
    text-shadow: 2px 2px #0B0C0C;
}

.anexar_cadastro {
    top: 110%;
}

.button-signUp {
    margin: 0;
    left: 45%;
}

.create_account{
    position: relative;
    top: 60%;
    padding: 5px;
    color: rgb(79, 27, 126);
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}